body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Kaisei Tokumin", serif;
  width: 100%;
}
h1 {
  color: #66bfbf;
  font-family: "Caveat", cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
}
h2 {
  color: #66bfbf;
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  color: #11999e;
  font-family: "Kaisei HarunoUmi", serif;
}
a {
  color: #11999e;
  font-family: "Kaisei HarunoUmi", serif;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
hr {
  border-style: dotted none none none;
  border-width: 10px;
  color: #eaf6f6;
  margin: 100px auto;
  width: 25%;
}
p {
  line-height: 2;
}
.copyrighttxt {
  color: #eaf6f6;
  font: 0.75em;
}
.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;
}
.mountainimg{
  max-width: 100%;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 10px;
}
.pro {
  text-decoration: underline;
}
.textwidth30 {
  margin: auto;
  width: 30%;
}
.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.footer-link {
  margin: 0 10px 0 10px;
}
.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.codeimg {
  float: left;
  width: 25%;
  margin-right: 30px;
}
.gameimg {
  float: right;
  width: 25%;
  margin-left: 30px;
}

.Contact_Button {
  margin: 20px;
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #4ac9c9);
  background-image: -moz-linear-gradient(top, #66bfbf, #4ac9c9);
  background-image: -ms-linear-gradient(top, #66bfbf, #4ac9c9);
  background-image: -o-linear-gradient(top, #66bfbf, #4ac9c9);
  background-image: -webkit-gradient(to bottom, #66bfbf, #4ac9c9);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 16px;
  font-weight: 100;
  padding: 12px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.Contact_Button:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
